<!DOCTYPE html>
<html>
    <head>
        <title>Meu restaurante</title>
    </head>
    <body>
        <h1>Pedidos</h1>
        <ul>
            <li>Combo 1, comanda 2.</li>
            <li>Combo 2, comanda 5.</li>
            <li>Executivo 2, comanda 3</li>
            <li>Refri laranja, comanda 134</li>
            <li>cerveja, comanda 12</li>
            <li>batata frita, comanda 14</li>   
        </ul>
        <p>Voltar para <a href="/">pagina inicial</a></p>
    </body>
</html>